@font-face {
  font-family: 'Regal Love';
  src: url('fonts/Regal Love.ttf') format('truetype');
}
@font-face {
  font-family: 'Simple Alphabet';
  src: url('fonts/Simple Alphabet.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir LT Std';
  src: url('fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir LT Std';
  src: url('fonts/AvenirLTStd-Oblique.otf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: 'Avenir LT Std';
  src: url('fonts/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir LT Std';
  src: url('fonts/AvenirLTStd-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: oblique;
}
@font-face {
  font-family: 'Avenir LT Std Heavy';
  src: url('fonts/AvenirLTStd-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'Antipasto Pro';
  src: url('fonts/AntipastoPro-Bold_trial.ttf') format('opentype');
}

@font-face {
  font-family: 'Antipasto Pro Bold';
  src: url('fonts/AntipastoPro-ExtraBold_trial.ttf') format('opentype');
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FEFAEF;
  color: #5a3e2b;
}
.header-container{
  text-align: center;
  margin-top: 13rem;
}


.context-container {
  background-image: url("img/bg.png");
  background-size: cover;
  background-position: center;
  padding: 0 5rem;
  height: 30vh;
}
.invi-header{
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0 15rem;
}
.name {
  font-family: 'Regal Love', 'Great Vibes', cursive;
  font-size: 10rem;
  line-height: 8.5rem;
  padding: 0 5rem;
  margin-top: 5rem;
}
.date-container{
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.date {
  font-family: 'Simple Alphabet', 'Great Vibes';
  font-size: 3rem;
  line-height: 0;
}
.date-num {
  font-family: 'Simple Alphabet', 'Great Vibes';
  font-size: 7rem;
  margin: 0;
  margin: 0 1rem;
}
.date-time {
  font-family: 'Simple Alphabet', 'Great Vibes';
  font-size: 2rem;
  border-top: 1px solid #5a3e2b;
  border-bottom: 1px solid #5a3e2b;
  margin: 0;
}
.section-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0 1rem;
}



.events-container{
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 25px;
  font-family: 'Avenir LT Std';
}

.events-title{
  font-family: 'Avenir LT Std Heavy';
}

.navigate-track{
  display: flex;
}
.maps-container{
  margin-top: 3rem;
  font-size: 1.3rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #4a4a4a;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: white;
  cursor: pointer;
}
.button img {
  width: 50px;
  height: 50px;
}
.button span {
  flex-grow: 1;
  text-align: center;
  color: #057a00;
  font-size: 1.3rem;
}
.button i {
  color: #5a3e2b;
}
.rsvp-section {
  text-align: center;
  margin-top: 2rem;
}

.rsvp-title {
  font-family: 'Antipasto Pro Bold';
  font-size: 3rem;
  top:-41px;
  right: 333px;
  padding: 1rem;
  position: absolute;
  background-color: #FEFAEF;
}


.rsvp-container{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.rsvp-section img {
  width: 100px;
  height: 100px;
}

.attendance-img{
  width: 7rem;
  height: 7rem
}
.kindly-text {
  font-family: 'Avenir LT Std';
  margin-top: 0.5rem;
  font-size: 18px;
  font-weight: 400;
}
.form-text {
  font-family: 'Antipasto Pro';
  padding-top: 1.5rem;
  font-size: 23px;
  font-weight: 700;
  color: #4A772F;
}
.will-text {
  font-family: 'Antipasto Pro';
  margin-top: 2rem;
  font-size: 23px;
  font-weight: 700;
}

.adventure-text{
  font-family: 'Antipasto Pro';
  font-size: 23px;
  font-weight: 700;
}

.rsvp-section p span {
  display: block;
  font-size: 0.875rem;
  color: #5a3e2b;
}

.attend-text{
  font-family: 'Simple Alphabet', 'Great Vibes';
  font-size: 1.6rem;
  line-height: 1;

}
.form-section {
  position: relative;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  padding: 3rem;
  width: 790px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
  border-radius: 10px;
  backdrop-filter: blur(8px); 
}

.rsvp-button{
  font-family: 'Antipasto Pro';
  margin-top: 0.5rem;
  font-size: 23px;
  font-weight: 700;
  color: #654321;
  background-color: #E1E1CD;
  border: 1px solid #654321;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}


.rsvp-button.clicked{
  color: #4A772F;
  background-color: #FFFFFF;
  transform: scale(1.1);
}

.form-section select {
  width: 10%;
  max-width: 300px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 1px solid #5a3e2b;
  border-radius: 0.25rem;

}
.form-section input {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #5a3e2b;
  border-radius: 0.5rem;
}

.form-section textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #5a3e2b;
  border-radius: 0.5rem;
}

.input-container{
display: flex;
flex-direction: column;
align-items: center;
}

.form-section .yes-no-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.form-section .yes-no-buttons button {
  padding: 0.5rem 1rem;
  border: 1px solid #4a4a4a;
  border-radius: 0.25rem;
  cursor: pointer;
}
.divider {
  border-top: 3px solid #5a3e2b;
  margin: 1rem 0;
  width: 200px;
}

.button-form {
  border: 1px solid green;
  background-color: rgb(4, 102, 4);
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.button-form.clicked {
  background-color: darkgreen; 
  border-color: darkgreen;
}

.footer-container{
  padding-bottom: 5rem;
}

.footer-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle; 
  display: inline-block;
}


@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  display: block;
  animation: fadeDown 0.8s ease forwards;
}


@keyframes button-click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.attendance-button.clicked {
  animation: button-click 0.3s ease-in-out;
}